{{ $figcap := or .Title .Text }}
{{ $caption := or .Text " " }}

{{- if eq $figcap $caption -}}
    {{ $caption = " " }}
{{- end -}}

{{- if $figcap -}}
    <figure>
        <img class="object-contain w-full shadow-md" src="{{- .Destination -}}" alt="{{- $figcap -}}">
        <figcaption class="text-center">
            {{- $figcap | safeHTML -}}
        </figcaption>
    </figure>
{{- else -}}
    <figure>
        <img class="object-contain w-full shadow-md" src="{{- .Destination -}}">
    </figure>
{{- end -}}
