{{ define "main" }}
    <h1 class="font-bold">Hey you shouldn't be here!</h1>
    {{/* Look at index.html for the post listing */}}
    {{/*
    {{ range .Pages }}
        <article class="mb-4">
            <header class="font-bold">
                <a class="underline" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </header>
            <section class="flex flex-row items-center">
                <p class="flex m-0 text-opacity-70">
                    {{- .Date.Format "2 January 2006" -}}
                </p>
            </section>
        </article>
    {{ end }}
    */}}
{{ end }}