<!-- This example requires Tailwind CSS v2.0+ -->
<header class="w-full my-5" x-data="{ open: false }">
  <div class="flex flex-col max-w-screen-xl mx-auto">
    <div class="flex flex-row items-center justify-between">
      <a class="text-lg font-bold rounded focus:outline-none" href="/">{{- .Site.Title -}}</a>
      <div>
        <!-- Dark Mode button -->
        {{/*  <button onclick="toggleDarkMode()"
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
          <span class="sr-only">Toggle Dark Mode</span>
          <!-- Heroicon name: moon -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
          </svg>
        </button>  */}}
        <!-- Mobile menu button-->
        <button @click="open = !open" :aria-expanded="open"
                class="md:hidden inline-flex items-center justify-center p-1 rounded-lg focus:outline-none">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <svg
              :class="{'block': !open, 'hidden': open }"
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
          >
              <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
              />
          </svg>
          <!-- Icon when menu is open. -->
          <svg
              :class="{'block': open, 'hidden': !open }"
              class="hidden h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
          >
              <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
              />
          </svg>
        </button>
      </div>
      <nav class="hidden md:block">
        <div class="flex space-x-4">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          {{ range .Site.Menus.main }}
          <a
            class="px-3 py-2 rounded-md text-sm font-medium"
            href="{{ .URL }}"
          >
            {{ if .Pre }} {{ $text := print .Pre | safeHTML }} {{ $text }}
            {{ end }} {{ $text := print .Name | safeHTML }} {{ $text }}
          </a>
          {{ end }}
        </div>
      </nav>
    </div>
  </div>

  <!--
  Mobile menu, toggle classes based on menu state.

  Menu open: "block", Menu closed: "hidden"
  -->
  <div :class="{'block': open, 'hidden': !open }" class="hidden md:hidden">
    <nav class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      {{ range .Site.Menus.main }}
      <a
        class="block px-3 py-2 rounded-md text-base font-medium focus:outline-none"
        href="{{ .URL }}">
          {{ if .Pre }} {{ $text := print .Pre | safeHTML }} {{ $text }}
          {{ end }} {{ $text := print .Name | safeHTML }} {{ $text }}
      </a>
      {{ end }}
    </nav>
  </div>
</header>
